html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}



body {
    display: grid;
    grid-template-areas: 
    'aside header header header header'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main';
    height: 100vh;
    width: 100vw;
}

aside {
    grid-area: aside;
    background-color: rgb(82, 82, 228);
    display: grid;
    grid-template-rows: 8% 53.5% 38.5%;
}

.dashboard {
    display: flex;
    text-align: center;
    justify-content: start;
    align-items: center;
}

.dashboard img {
    border-radius: 50%;
    height: 70%;
    width: 20%;
    margin-right: 5%;
}

.navigation, .settings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: start;
    align-items: center; 
    margin: 0;  
}

.navigation img, .settings img {
    border-radius: 10%;
    height: 30%;
    justify-self: center;
    align-self: center;
}

.navigation p, .settings p {
    align-self: center;
    width: 50%;
}



header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-rows: 40% 60%;
}

main {
    grid-area: main;
    background-color: rgb(170, 166, 166);
    display: grid;
    grid-template-columns: 37% 37% 26%;
    grid-template-areas: 
    'projects projects announcements'
    'projects projects announcements'
    'projects projects announcements'
    'projects projects trending'
    'projects projects trending';
}

.projects-container {
    grid-area: projects;
}

.announcements-container {
    grid-area: announcements;
}

.trending-container {
    grid-area: trending;
}

